body {
  background-color: white;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  width: 970px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

code {
  background-color: #eee;
  padding: 2px 4px;
}
